doctype html
html(lang="en")
  head
    title Pug
  body
    h1 Welcome.
    #container.col
      p 测试
      p
        | asdasd
        | 啊实打实的
        | 111
      ul
        li asd
        li dd
        li jj
